body {
    font-family: sans-serif;
    background-image:url("https://images4.alphacoders.com/178/17808.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 270%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

