body {
    font-family: sans-serif;
    background-image:url("http://fantasyartdesign.com/3dgallery/a-digital/3D-images/0612tlb/chess-wallpaper-3d-03.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 270%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

