body {
    background-image:url("https://scontent.fmaa1-1.fna.fbcdn.net/t31.0-8/14680864_1754407471476692_4331512328956324905_o.jpg");
  margin: 0;
  font-family: "Helvetica Neue", "Open Sans";
}

#section-intro {
  width: 100%;
  height: 100vh;
  background-color: rgb(80,194,149);
}

#intro-content {
  width: 80%;
  height: 104vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro-content a {
  text-align: center;
  margin-top: 2em;
}
#intro-content img {
  width: 75%;
  display: inline-block;
}

#section-intro nav {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(80,194,149);
}

/* Left side of nav */
nav #nav-left {
  order: 1;
  margin-left: 08px;
  font-family: "Pacifico";
}

}

nav #green-leaf {
  width: 0.7em;
  float: inherit;
  margin-top: 04px;
}

nav #nav-title {
  display: inline-block;
  color: white;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-left: 0.6em;
  text-decoration: none;
}


/* Right side of nav */
nav #nav-right {
  order: 2;
  margin-right: 3em;
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

nav .nav-right-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}
nav #nav-board {
  margin-right: 2em;
}

nav #nav-code {
  margin-right: 2em;
}

nav #nav-draw {
  margin-right: 2em;
}